@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #043927;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #000201;
    padding: 20px;
    color: hsla(0, 100%, 100%, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li {
    display: inline;
    padding-right: 30px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    padding-right: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    text-decoration: none;
    border-radius: 0;
}

.portfolio-text {
    font-size: 28px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#banner {
    padding: 300px;
    background-image: linear-gradient(to bottom,
        rgba(0, 8, 8, 0.8) 0%,
        rgba(45, 226, 117, 0.2) 280%
    ), url('../images/image.jpg');
    text-align: center;
    background-size: cover;
}

#banner h1 {
    color: white;
    opacity: 0.68;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

#banner p {
    color: white;
    font-size: 25px;
    opacity: 0.68;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#banner button {
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 500;
    background-color: #1e3830;
    border-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#banner button:hover {
    background-color: #014d37;
    color: white;
}

#projects {
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.6) 280%
    );
    padding: 3rem 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#project-title {
    font-size: 46px;
    padding: 30px;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.project {
    perspective: 1000px;
    margin-top: 20px;
    flex: 1 1 300px;
    margin: 5rem;
}

.project-inner {
    position: relative;
    width: 500px;
    height: 450px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.project:hover .project-inner {
    transform: rotateY(180deg);
}

.project-front, .project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.project-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #021c14;
    color: white;
    text-align: center;
}

.project-front img {
    opacity: 0.78;
    height: 70%;
    width: auto;
    border-radius: 15px;
}

.project-front h3 {
    margin-top: 10px;
    font-size: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.project-back {
    background-color: #021c14;
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.project-back p {
    padding: 20px;
    font-size: 20px;
    line-height: 28px;
    margin: 20px;
}

#skills {
    padding: 3rem;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.6) 280%
    );
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#skills h2 {
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.skill {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: calc(50% - 20px);
}

.skill-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #3b3b3b;
    border-radius: 10px;
    height: 20px;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    position: relative;
}

.progress {
    background-color: #0c7c0c;
    height: 100%;
    width: 0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 5s ease-out;
}

@media (max-width: 768px) {
    #skills {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

#about {
    padding: 3rem;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

#about h2 {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

#about p {
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
}

#about .about-intro {
    margin-bottom: 5rem;
    text-align: center;
}

#about h3 {
    color: white;
    font-size: 28px;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #021c14;
    font-family: 'Roboto', sans-serif;
}

#about .about-hobbies,
#about .about-goals {
    margin-bottom: 2rem;
}

.about-item {
    margin-bottom: 1.5rem;
}

.about-item h4 {
    color: #e0e0e0;
    font-size: 22px;
    margin-bottom: 0.5rem;
}

.about-item p {
    font-size: 16px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
}

#contact {
    padding: 3rem;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

#contact h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

#contact button {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: 500;
    background-color: #045941;
    border: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#contact button:hover {
    background-color: #014d37;
    color: white;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

#contact label {
    margin-top: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#contact input,
#contact textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    font-family: 'Roboto', sans-serif;
}

#sname, #ssub, #semail, #smsg, #ssubmit {
    margin-bottom: 8px;
    font-size: 15px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
    background-color: #021c14;
    width: auto;
    padding: 20px;
}

.footer-content p {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-icon i {
    color: #ccd0cc;
    font-size: 24px;
    text-decoration: none;
}

.footer-icon:hover i {
    color: #96da8f;
}

footer p {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.line-1 {
    position: relative;
    width: max-content;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
}

.anim-typewriter {
    animation: typewriter 8s steps(30) 1s 1 normal both,
               blinkTextCursor 500ms steps(30) infinite normal;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 42%; }
}

@keyframes blinkTextCursor {
    from { border-right-color: rgba(255, 255, 255, .75); }
    to { border-right-color: transparent; }
}

@keyframes hideCursor {
    from { border-right-color: rgba(255, 255, 255, .75); }
    to { border-right-color: transparent; }
}

.anim-typewriter-end {
    animation: typewriter 8s steps(30) 1 normal both,
               hideCursor 1s steps(30) 1 normal;
}
